ul.lextab-list {
	list-style-type: none;
	float: left;
	margin-bottom: 16px;
}

ul.lextab-list li {
	float: left;
	display: block;
	padding: 4px;
	font-weight: bold;
	font-size: .9em;
	border: #c0c0c0 solid 1px;
	background-color: #f2f2f2;
	margin-right: 4px;
        cursor: pointer;
	width: 85px;
	text-align: center;
}

div.lextab-pane {
    	clear: both;
}

div.lextab-recent, div.lextab-comments {
	display: none;
}

span.lextab-dt {
	font-size: 85%;
	color: #456002;
	font-weight: bold;
}
